<div class="login-main-container">
    <div class="login-crendentials-box">
        <mat-card>
            <div class="login-logo-container">
                <img src="assets/img/Logo-Brownsbille-Cargo-white.png" alt="Logo-Brownsbille-Cargo">
            </div>
            <form name="loginForms" (ngSubmit)="onSubmit(loginForms.value)" #loginForms="ngForm" novalidate>
                <div class="login-form-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input [(ngModel)]="loginModel.userInput" name="userInput" type="text" matInput autocomplete="off" placeholder="Usuario">
                        <span matPrefix>
                        <mat-icon>assignment_ind</mat-icon>
                      </span>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>contraseña</mat-label>
                        <input [(ngModel)]="loginModel.passwordInput" name="passwordInput" type="password" matInput autocomplete="off" placeholder="contraseña">
                        <span matPrefix>
                        <mat-icon>lock</mat-icon>
                      </span>
                    </mat-form-field>
                    <button mat-raised-button color="primary">ACCEDER</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>
